* {
  font-family: 'Poppins', sans-serif;
}
html, body {
  height: 100%; /* Make sure the HTML and body are also taking full height */
  margin: 0;
  padding: 0;
}
:root {
  --blue: rgb(59 130 246 / .5);
  --white: #ffffff;
}
.heading{
  color: #42446E;
  font-size: 2rem;
  font-weight: bold;
}
.sub-heading{
  color: #666666;
  font-size: medium;
}


.navlink{
  text-decoration: none;
  color: #666666;
  font-weight: 500;
  font-size: medium;

}



/* Add this CSS to your existing styles or create a new CSS file */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto; /* Push the footer to the bottom */
}





.bg-blue-container{
  background: linear-gradient(210deg , var(--blue), var(--white) );
  min-height: 100vh;
}


.education{
  background: linear-gradient(200deg , var(--white), var(--blue) );
}
.edu-image{
  width: 100%;
}
.html{
  font-size: 6rem;
  color: var(--blue);
}
.css{
  font-size: 6rem;
  color: var(--blue);
}
.bootstrap{
  font-size: 6rem;
  color: var(--blue);
}
.react{
  font-size: 5rem;
  color: var(--blue);
}
